@import "/vendor/bootstrap/less/bootstrap.less";
@import "/vendor/eonasdan-bootstrap-datetimepicker/src/less/bootstrap-datetimepicker.less";
@import "/vendor/typeahead.js-bootstrap3.less/typeahead.less";
@import "variables.less";
@import "bootstrap.less";

.placeholder-color(@color: @white) {
  &::-webkit-input-placeholder {
     color: @color;
  }

  &:-moz-placeholder { /* Firefox 18- */
     color: @color;  
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     color: @color;  
  }

  &:-ms-input-placeholder {  
     color: @color;  
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 30px;
    margin-left: 15px;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}

.container-fluid {
  height: 100%;
}

.full-height {
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.text-bold {
  font-weight: bold;
}

.navbar-brand {
  .app-logo {
    width: 173px;
    height: 21px;
  }

  .label-info {
    margin-left: 5px;
    font-weight: initial;
  }
}

.link-back {
  margin-bottom: 15px;
}

.app-all-content {
  height: 100%;
}

.app-menu {
  .separator {
    margin-left: 15px;
    .shadow {
      margin-right: -3px;
      vertical-align: bottom;
    }
  }
}

.app-account-nav {
  &.nav > li {
    a {
      padding: 0 0 0 15px;
      line-height: 51px;
      text-shadow: black 0 1px;

      img.left {
        margin-right: 10px;
      }

      &:hover {
        span.text {
          text-decoration: underline;
        }
      }
    }
  }
}

.app-main-nav {
  padding-top: @default-padding;
  padding-left: 0;
  padding-right: 0;

  .nav > li {
    box-shadow: 0 1px 1px 0 @white;
    border-bottom: 1px solid @default-border-color;

    &:first-child {
      padding-left: @default-padding;
      padding-right: @default-padding;
      padding-bottom: @default-padding;
    }

    &.nav-link {
      cursor: pointer;
      color: #5e5e5e;
      font-weight: 700;
      font-family: 'PT Sans', sans-serif;
      line-height: 42px;
      padding: 0 0 0 @default-padding;
      text-shadow: @white 0 1px;
      
      img.left {
        margin-right: 22px;
      }

      img.right {
        float: right;
        margin-right: -20px;
        position: initial;
        transition: margin-right .4s;
      }

      &:hover {
        color: #1b6f8b;
        text-decoration: underline;
        background-color: @background-color-selected;

        img.right {
          margin-right: -1px;
        }
      }

      &.active {
        color: #1b6f8b;
        background-color: @background-color-selected;

        img.right {
          z-index: 1000;
          margin-right: -1px;
          position: relative;
        }
      }
    }
  }
}

.app-main-content {
  height: 100%;
  padding: @default-padding @default-padding 0 @default-padding;
  overflow-y: scroll;
  background-image: @background;
  border: 1px solid @default-border-color;
  box-shadow: @default-box-shadow;
}

.app-footer {
  border-top: 0;
  line-height: 20px;
  background-color: transparent;

  &.navbar-default .navbar-nav > li > a {
    font-weight: bold;
    color: @gray-dark;
    text-shadow: @white-text-shadow;

    &:hover {
      text-decoration: underline;
    }
  }

  .navbar-text > a {
    font-weight: bold;
    color: @gray-dark;
    text-shadow: @white-text-shadow;
  }
}

.loading-more {
  margin-bottom: 30px;
}

.items-actions {
  text-align: right;
  margin: 22px 17px;

  .action {
    .action-text {
      font-weight: bold;
      margin-right: 13px;
    }
  }
}

.totals {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  text-shadow: @white-text-shadow;
  background-image: @background-brown;
}

.currency {
  text-align: right;
}

.journal-entry {
  &.hover-highlight:hover {
    box-shadow: 0 0 10px @brand-info;
    border: 1px solid @brand-info;
    transition: box-shadow 0.5s;
  }
}

.report {
  text-transform: uppercase;

  .panel-body {
    padding: 22px 10px 26px 12px;

    .inputs {
      padding-right: 0;

      .input-group-addon {
        border-radius: 0;
        border-right: 0; 
      }
    }

    .actions {
      padding-left: 0;

      button {
        border-left: 0;
        margin: 0;
        margin-left: -2px;
        border-radius: 0 4px 4px 0;
      }
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  .progress {
    height: 5px;
    margin-top: 12px;
    margin-bottom: 0;
  }
}

.report-rendering {
  .panel-body  {
    padding: 0 0 0 15px;

    &> .panel {
      border: 0;
      margin: 0;
      box-shadow: none;

      .panel-heading {
        border-bottom: 0;
        padding-left: 15px;
        background-color:  transparent;
      }
    }
  }
}

.manual-journal-entry {
  .form-group {
    margin-bottom: 5px;
  }

  .separator {
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 1px dashed @default-border-color;
  }

  #lines {
    .line {
      &:nth-of-type(n+2) {
        margin-top: 10px;
        padding-top: 15px;
        border-top: 1px dotted @default-border-color;
      }

      input.synch {
        font-style: italic;
        background-color: @gray-lighter;
      }

      .currency-container {

        input:not([disabled]).currency {
          color: @white;
          .placeholder-color(@white);
        }

        &.match {
          .has-success;

          input.currency {
            background-color: lighten(@brand-success, 10%);
          }
        }

        &.no-match {
          .has-error;  

          input.currency {
            background-color: lighten(@brand-danger, 10%);
          }
        }
      }

      p.zero-line-value {
        margin: 9px 0 10px 0;
      }

      .actions {
        margin-top: 16px;

        opacity: 0;
        filter: alpha(opacity=0);

        transition: all .4s;
      }

      &:hover {
        .actions {
          opacity: 100;
          filter: alpha(opacity=100);
        }
      }
    }
  }

  .postProgress {
    width: 100%;
    margin-top: 7px;

    .progress {
      margin-bottom: 0;
    }
  }
}
