@import "/vendor/bootstrap/less/bootstrap.less";
@import "/vendor/eonasdan-bootstrap-datetimepicker/src/less/bootstrap-datetimepicker.less";
@import "/vendor/typeahead.js-bootstrap3.less/typeahead.less";
@import "variables.less";
@import "bootstrap.less";

.box-shadow-highlight() {
  &.hover-highlight:hover {
    .box-shadow(0 0 10px @brand-info);
    border: 1px solid @brand-info;
    .transition(box-shadow 0.5s);
  }
}

.search-select-content-layout {
  height: 100%;

  .full-content {
    height: 100%;
  }

  .content-row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .search {
    padding: @default-padding @default-padding @default-padding/2 @default-padding;

    .form-group {
      margin-bottom: 0;
    }
  }

  .content {
    height: 45%;
    overflow-y: auto;
    padding: @default-margin/2 @default-padding @default-padding @default-padding;

    .items {
      .item {
        .box-shadow-highlight;

        .panel-body {
          padding: @default-list-entry-padding;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .aside {
    padding: @default-padding/2 @default-padding @default-padding @default-padding;

    .list-group-item {
      padding: 2px 0;
      font-size: .9em;
    }
  }

  // keep a decent height proportion on phone screen
  @media (min-height: 650px) and (max-width: @screen-xs-max) {
    .content { height: 50%; }
  }

  @media (min-height: 700px) and (max-width: @screen-xs-max) {
    .content { height: 55%; }
  }

  @media (min-height: 750px) and (max-width: @screen-xs-max) {
    .content { height: 60%; }
  }

  @media (min-height: 850px) and (max-width: @screen-xs-max) {
    .content { height: 65%; }
  }

  @media (min-height: 950px) and (max-width: @screen-xs-max) {
    .content { height: 70%; }
  }

  // keep a decent height proportion on non phone screen
  @media (min-width: @screen-sm-min) {
    .content { height: 85%; }
  }

  @media (min-height: 700px) and (min-width: @screen-sm-min) {
    .content { height: 89%; }
  }

  @media (min-height: 900px) and (min-width: @screen-sm-min) {
    .content { height: 93%; }
  }  
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 60px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 30px;
    margin-left: 15px;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}

.container-fluid {
  height: 100%;
}

.full-height {
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.text-bold {
  font-weight: bold;
}

.navbar-brand {
  .app-logo {
    width: 173px;
    height: 21px;
  }

  .label-info {
    margin-left: 5px;
    font-weight: initial;
  }
}

.link-back {
  margin-bottom: 15px;
}

.app-all-content {
  height: 100%;
}

.app-menu {
  .separator {
    margin-left: 15px;
    .shadow {
      margin-right: -3px;
      vertical-align: bottom;
    }
  }
}

.app-account-nav {
  &.nav > li {
    a {
      padding: 0 0 0 15px;
      line-height: 51px;
      text-shadow: black 0 1px;

      img.left {
        margin-right: 10px;
      }

      &:hover {
        span.text {
          text-decoration: underline;
        }
      }
    }
  }
}

.app-main-nav {
  padding-top: @default-padding;
  padding-left: 0;
  padding-right: 0;

  .nav > li {
    .box-shadow(0 1px 1px 0 @white);
    border-bottom: 1px solid @default-border-color;

    &:first-child {
      padding-left: @default-padding;
      padding-right: @default-padding;
      padding-bottom: @default-padding;
    }

    &.nav-link {
      cursor: pointer;
      color: #5e5e5e;
      font-weight: 700;
      font-family: 'PT Sans', sans-serif;
      line-height: 42px;
      padding: 0 0 0 @default-padding;
      text-shadow: @white 0 1px;
      
      img.left {
        margin-right: 22px;
      }

      img.right {
        float: right;
        margin-right: -20px;
        position: initial;
        .transition(margin-right .4s);
      }

      &:hover {
        color: #1b6f8b;
        text-decoration: underline;
        background-color: @background-color-selected;

        img.right {
          margin-right: -1px;
        }
      }

      &.active {
        color: #1b6f8b;
        background-color: @background-color-selected;

        img.right {
          z-index: 1000;
          margin-right: -1px;
          position: relative;
        }
      }
    }
  }
}

.app-main-content {
  height: 100%;
  padding: 0;
  overflow-y: hidden;
  background-image: @background;
  border: 1px solid @default-border-color;
  .box-shadow(@default-box-shadow);
}

.app-footer {
  border-top: 0;
  line-height: 20px;
  background-color: transparent;

  &.navbar-default .navbar-nav > li > a {
    font-weight: bold;
    color: @gray-dark;
    text-shadow: @white-text-shadow;

    &:hover {
      text-decoration: underline;
    }
  }

  .navbar-text > a {
    font-weight: bold;
    color: @gray-dark;
    text-shadow: @white-text-shadow;
  }
}

.loading-more {
  margin: 30px;
}

.items-actions {
  text-align: right;
  margin: 22px 17px;

  .action {
    .action-text {
      font-weight: bold;
      margin-right: 13px;
    }
  }
}

.totals {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  text-shadow: @white-text-shadow;
  background-image: @background-brown;
}

.currency {
  text-align: right;
}

.scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

.journal-entries {
  height: 100%;

  .content {
    height: 100%;
    overflow-y: auto;

    .journal-entry {
      .box-shadow-highlight;
      margin: @default-margin;

      .panel-body {
        padding: @default-list-entry-padding;
      }

      &.last-of-type {
        margin-bottom: @default-margin;
      }
    }
  }
}

.journal-entry {
  max-height: 98%;
  overflow-y: auto;
  margin: @default-margin;
}

.report {
  margin-right: @default-margin;
  text-transform: uppercase;

  .panel-body {
    padding: 22px 10px 26px 12px;

    .inputs {
      padding-right: 0;

      .input-group-addon {
        border-radius: 0;
        border-right: 0; 
      }
    }

    .actions {
      padding-left: 0;

      button {
        border-left: 0;
        margin: 0;
        margin-left: -2px;
        border-radius: 0 4px 4px 0;
      }
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  .progress {
    height: 5px;
    margin-top: 12px;
    margin-bottom: 0;
  }
}

.report-rendering {
  height: 99%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: @default-margin;  
}

.report-rendering-category {
  .panel-body  {
    padding: 0 0 0 15px;

    &> .panel {
      border: 0;
      margin: 0;
      .box-shadow(none);

      .panel-heading {
        border-bottom: 0;
        padding-left: 15px;
        background-color:  transparent;
      }
    }
  }
}

.manual-journal-entry {
  padding: @default-padding;

  .form-group {
    margin-bottom: 5px;
  }

  .panel {
    margin-bottom: 0;
  }

  .separator {
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 1px dashed @default-border-color;
  }

  #lines {
    .line {
      &:nth-of-type(n+2) {
        margin-top: 10px;
        padding-top: 15px;
        border-top: 1px dotted @default-border-color;
      }

      input.synch {
        font-style: italic;
        background-color: @gray-lighter;
      }

      .currency-container {

        input:not([disabled]).currency {
          color: @white;
          .placeholder(@white);
        }

        &.match {
          .has-success;

          input.currency {
            background-color: lighten(@brand-success, 10%);
          }
        }

        &.no-match {
          .has-error;  

          input.currency {
            background-color: lighten(@brand-danger, 10%);
          }
        }
      }

      p.zero-line-value {
        margin: 9px 0 10px 0;
      }

      .actions {
        margin-top: 10px;
        .opacity(0);
        .transition(all .4s);
      }

      &:hover {
        .actions {
          .opacity(100);
        }
      }
    }
  }

  .postProgress {
    width: 100%;
    margin-top: 7px;

    .progress {
      margin-bottom: 0;
    }
  }
}

.account {
  max-height: 98%;
  overflow-y: auto;
  margin: @default-margin;
}

.reports {
  &:extend(.search-select-content-layout all);

  .content {
    .items {
      .item {
        .description {
          overflow-x: hidden;
        }
      }
    }  
  }  
}

.accounts {
  &:extend(.search-select-content-layout all);

  .content {
    .items {
      .item {
        .description {
          overflow-x: hidden;
        }

        .balance {
          overflow-x: hidden;
        }
      }
    }  
  }
}
