<div class="journal-entries">
  {{#each journalEntry in controller}}
    {{view "journal-entry-list-item"}}
  {{/each}}
</div>

{{#if hasNextPage}}
  <div class="loading-more">
    {{partial "loading"}}
  </div>
{{/if}}