<article data-book-id="{{book_id}}">
    <form action="#" class="model2">
        <header class="header clearfix">
            <div class="left padding-top-half">
                <strong>{{desc}}</strong>
            </div>
            <div class="right">
                <a href="#" class="icon account action" data-action="sourcefromchart" data-account-id="{{id}}"><span class="caption">Account page</span></a>
            </div>
        </header>
        <section class="body">

			<div id="graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

        </section>
    </form>
</article>

