<header class="header">

    <label for="key_id" class="caption">Key ID</label>
    <input type="text" id="key_id" name="key_id" placeholder="Key ID" class="input input1 full-width margin-bottom" value="">
    <label for="secret" class="caption">ref</label>
    <input type="text" id="secret" name="secret" placeholder="Secret" class="input input1 full-width margin-bottom" value="">
    <label for="org_id" class="caption">org_id</label>
    <input type="text" id="org_id" name="org_id" placeholder="Org ID" class="input input1 full-width" value="">

    <button class="btn btn3 default action" data-action="login">Login</button>
</header>