<article class="form new" data-type="account">
    <form action="#" class="model2">
        <header class="header">
            <strong>New Account</strong>
            <select name="" id="" class="select prettySelect book" style="display: none;">
               <option value="">Choose a book</option>
               {{#each books}}
                   <option value="{{id}}">{{desc}}</option>
               {{/each}}
            </select>
        </header>
        <section class="body">
            <div class="block1">
                <label for="description" class="caption">Description</label>
                <input type="text" id="description" name="description" placeholder="Description" class="input input1 full-width margin-bottom desc">
                <label for="ref" class="caption">ref</label>
                <input type="text" id="ref" name="ref" placeholder="Reference" class="input input1 full-width ref">

            </div>

        </section>
        <footer class="footer clearfix">
            <div class="left balance">


                <select name="" id="" class="select prettySelect bal" style="display: none;">
                    <option value="">Select normal balance</option>
                    <option value="debit">Debit</option>
                    <option value="credit">Credit</option>
                </select>

            </div>
            <div class="right">
                <button class="btn btn3 margin-left action action" data-action="close">Cancel</button>
                <button class="btn btn3 post margin-left action" data-action="savenew">Save</button>
            </div>
        </footer>
    </form>
</article>