<article class="form new" data-type="book">
    <form action="#" class="model2">
        <section class="body">
            <div class="block1">
                <label for="description" class="caption">Description</label>
                <input type="text" id="description" name="description" placeholder="Description" class="input input1 full-width margin-bottom desc">

            </div>

        </section>
        <footer class="footer clearfix">

            <div class="left">
                <button class="btn btn3 cancel">Cancel</button>
            </div>
            <div class="right">
                <!--<div class="btnConfirmationCtn active">
                    <div class="bg">
                        <div class="text">Are you sure?</div>
                        <button class="btn btn3 post margin-right">
                            <span class="step1">Post</span><span class="step2">Yes</span></button>
                    </div>
                </div>-->
                <button class="btn btn3 action" data-action="savenew">Save & New</button>
            </div>
        </footer>
    </form>
</article>

