<article class="form" data-type="settings">
    <form action="#" class="model2">
        <header class="header">

            <label for="key_id" class="caption">Key ID</label>
            <input type="text" id="key_id" name="key_id" placeholder="Key ID" class="input input1 full-width margin-bottom" value="{{key}}">
            <label for="secret" class="caption">ref</label>
            <input type="text" id="secret" name="secret" placeholder="Secret" class="input input1 full-width margin-bottom" value="{{secret}}">
            <label for="org_id" class="caption">org_id</label>
            <input type="text" id="org_id" name="org_id" placeholder="Org ID" class="input input1 full-width" value="{{org_id}}">
        </header>
        <section class="body">

        </section>
        <footer class="footer">

            <div class="right">
                <button class="btn btn3 margin-right action" data-action="close">Cancel</button>
                <button class="btn btn3 save action" data-action="save">Save</button>
            </div>
        </footer>
    </form>
</article>