<form role="form">
  <div class="form-group">
    <div class="input-group input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>

      {{input value=description class="form-control description" placeholder="Search or browse with sidebar" autofocus="autofocus"}}          
    </div>
  </div>
</form>