<div {{bind-attr class=":alert :alert-warning :no-results hasResults:hidden"}}>
  No Results Found
</div>

<div class="items">
  {{#each controller}}
    {{view 'accounts/item'}}
  {{/each}}
</div>

{{#if hasNextPage}}
  {{partial "loading"}}
{{/if}}