<div class="panel-body panel-body-white clickable">
  <div class="row">
    <div class="col-xs-9 col-md-10 description">
      {{description}}
    </div>
    <div class="col-xs-3 col-md-2 text-right balance">
      {{format-balance balance normalBalance}}
    </div>
  </div>
</div>