
    <div class="ctn">
        <div class="logoCtn">
            <a class="logo" href="http://subledger.com"><img src="img/logo.png" width="173" height="21" border="0" alt="Subledger Logo"></a>
        </div>
        <nav>
            <ul>
               <!-- <li class="welcome">
                    <a href="#"> <span class="profile" style="background-image:url('{{picture}}')"></span>
                        <span class="light">Welcome,</span> {{username}} </a>
                </li>  -->
                <li><a href="settings/" class="icon settings action" data-action="settings">Settings</a></li>
                <li><a href="" class="icon logout action" data-action="logout">Logout</a></li>
            </ul>
        </nav>
    </div>
