<div class="ctn">
	<div class="boocx">

        <select name="" id="" class="select prettySelect book">
           {{#each books}}
               <option value="{{id}}" {{#ifCond id ../selectedbook}}selected="selected"{{/ifCond}}>{{desc}}</option>
           {{/each}}
		</select>
	</div>
    <ul class="side-menu">
        <li>
                <a href="#" class="icon stream action" data-action="activity-stream">Activity Stream
                    <span class="arrow"><span class="inner"></span></span></a>
        </li>
        <li>
            <a href="#" class="icon star action" data-action="favaccounts">Favorites Accounts
                <span class="arrow"><span class="inner"></span></span></a>
        </li>
        <li>
            <a href="#" class="icon money action" data-action="accounts">Accounts
                <span class="arrow"><span class="inner"></span></span></a>
        </li>

    </ul>
</div>

