
<div class="ctn">

    <ul>
        <li class="active">
            <a href="#" class="icon journal action" data-action="newbook">New Book
                <span class="arrow"><span class="inner"></span></span></a>
        </li>
        <li>
            <a href="#" class="icon journal action" data-action="books">Books
                <span class="arrow"><span class="inner"></span></span></a>
        </li>
        <li>
             <a href="#" class="icon drafts action" data-action="newjournal">New Journal Entry
                 <span class="arrow"><span class="inner"></span></span> </a>
        </li>
        <li>
            <a href="#" class="icon drafts action" data-action="draftsjournals">Draft Journal Entry {{#if active_books}}<span class="amount">{{active_books}}</span>{{/if}}
                <span class="arrow"><span class="inner"></span></span> </a>
        </li>
        <li>
            <a href="#" class="icon money action" data-action="newaccount">New Account
                <span class="arrow"><span class="inner"></span></span></a>
        </li>
        <li>
            <a href="#" class="icon money action" data-action="accounts">Accounts
                <span class="arrow"><span class="inner"></span></span></a>
        </li>

    </ul>
</div>
