<div class="panel panel-default account-entry hover-highlight">
  <div class="panel-body panel-body-white clickable">
    <div class="row">
      <div class="col-xs-8 col-md-10">
        {{description}}
      </div>
      <div class="col-xs-4 col-md-2 text-right balance">
        {{format-balance balance.value normalBalance}}
      </div>
    </div>
  </div>
</div>