<div class="app-menu" role="navigation">
  <div>
    <div class="app-menu-header">
      {{#if credential.authenticated}}
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".app-menu-links">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      {{/if}}

      <a class="brand" href="#">
        <img src="assets/logo.png" alt="Subledger Inc"></img>
        <span>Beta</span>
      </a>
    </div>

    <div class="collapse navbar-collapse app-menu-links">
      <ul class="nav navbar-nav">
        {{#if credential.authenticated}}
          <li class="visible-xs">
            {{view Ember.Select content=credential.books optionValuePath="content.id" optionLabelPath="content.description" value=credential.selectedBook class="form-control"}}
          </li>

          <li class="visible-xs">
            {{#link-to 'journal-entries.index' data-toggle='collapse' data-target='.app-menu-links'}}
              <span class="glyphicon sl-refresh"></span>Activity Stream
            {{/link-to}}
          </li>

          <li class="visible-xs">
            {{#link-to 'accounts.index' data-toggle='collapse' data-target='.app-menu-links'}}
              <span class="glyphicon sl-entry"></span>Accounts
            {{/link-to}}
          </li>

          <li class="visible-xs">
            {{#link-to 'reports' data-toggle='collapse' data-target='.app-menu-links'}}
              <span class="glyphicon sl-entries"></span>Reports
            {{/link-to}}
          </li>

          <li class="visible-xs">
            {{#link-to 'journal-entries.new' data-toggle='collapse' data-target='.app-menu-links'}}
              <span class="glyphicon glyphicon-edit"></span>Create Journal Entry
            {{/link-to}}
          </li>

          <li>
            {{#link-to 'settings'}}
              <span class="glyphicon glyphicon-cog"></span>Settings
            {{/link-to}}
          </li>          

          <li>
            {{#link-to 'logout'}}
              <span class="glyphicon glyphicon-off"></span>Logout
            {{/link-to}}
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>