<nav class="app-footer" role="navigation">
  <div>
    <ul>
      <li><a href="http://subledger.com" target="_blank">About</a></li>
      <li><a href="http://subledger.com/blog" target="_blank">Blog</a></li>
      <li><a href="http://subledger.com/#team" target="_blank">Jobs</a></li>
      <!--
      <li><a href="http://subledger.com/term">Terms of service</a></li>
      -->
    </ul>

    <p>
      <a href="http://subledger.com" target="_blank">&copy; Subledger Inc 2014</a>
    </p>
  </div>
</nav>