{{#each view.messages}}
	<div {{bind-attr class=":alert :alert-dismissable state"}}>
	  <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
	  <strong>{{title}}</strong> {{text}}
	</div>
{{/each}}