<div class="link-back">
  {{#link-to 'reports' class='btn btn-default'}}
    <span class="glyphicon glyphicon-chevron-left"></span> Back to List
  {{/link-to}}
</div>

<ul>
  {{#each category in categories}}
    <li class="report-rendering-category">{{render "report-rendering-category" category}}</li>
  {{/each}}
</ul>