<div class="row">
  <div class="col-md-12 link-back">
    {{#link-to 'reports'}}&lt; Back to List{{/link-to}}      
  </div>
</div>

{{#each category in categories}}
  {{render "report-rendering-category" category}}
{{/each}}